body {
  animation: colorchange 10s infinite;
  overflow: hidden;
}

@keyframes colorchange {
  0% {background-color: white;}
  30% {background-color: white;}
  32% {background-color: #ED4512;}
  34% {background-color: #F9B300;}
  36% {background-color: #2C365B;}
  38% {background-color: white;}
  80% {background-color: white;}
  82% {background-color: #ED4512;}
  84% {background-color: #F9B300;}
  86% {background-color: #2C365B;}
  88% {background-color: white;}
  92% {background-color: white;}
  94% {background-color: #ED4512;}
  96% {background-color: #F9B300;}
  98% {background-color: #2C365B;}
  100% {background-color: white;}
}

.flex-container {
  position:absolute;
  width:100%;
  display:flex;
  flex-flow:row wrap-reverse;
  justify-content:center;
  align-items:flex-start;/*supoosed to be flex-end, but notice I put wrap-reverse*/
  align-content:flex-start;
  min-height: 99vh; /*responsive bottom*/
  cursor: ew-resize;
}

.flex-container2 {
  position:absolute;
  width:50px;
  left:95%;
  display:flex;
  flex-flow:row;
  justify-content:flex-end;;
  align-items:center;/*supoosed to be flex-end, but notice I put wrap-reverse*/
  align-content:center;
  min-height: 106vh; /*responsive bottom*/
}

a {
  cursor: url('../images/hand.png'), pointer;
}

.flex-container3 {
  position:absolute;
  width:100%;
  display:flex;
  flex-flow:row;
  justify-content:center;
  align-items:center;/*supoosed to be flex-end, but notice I put wrap-reverse*/
  align-content:center;
  min-height: 60vh; /*responsive bottom*/
  cursor: ew-resize;
}

.flex-container4 {
  position:absolute;
  width:100%;
  display:flex;
  flex-flow:row wrap-reverse;
  justify-content:center;
  align-items:flex-start;/*supoosed to be flex-end, but notice I put wrap-reverse*/
  align-content:flex-start;
  min-height: 99vh; /*responsive bottom*/
  cursor: ew-resize;
}

.flex-container5 {
  animation: colorchange 10s infinite;
  position:relative;
  flex-grow:0;
  flex-shrink:1;
  width:100%;
  display:flex;
  flex-flow:row wrap-reverse;
  justify-content:center;
  align-items:flex-start;/*supoosed to be flex-end, but notice I put wrap-reverse*/
  align-content:flex-start;
  min-height: 60vh;
  opacity:0;
  transition: opacity 3s ease-in-out;
}

.flex-container5:hover {
  opacity:1;
}


#textbox {
  font-size: 14px;
  text-align: left;
  line-height: 20px;
  height:100px;
  width:600px;
  margin-left: 20px;
  margin-right: 20px;
}

#title {
  display:flex;
  width:430px;
  height:80px;
  white-space:nowrap;
}


.squarehalf {
  position: absolute;
  background-color: #ED4512;
  width:5px;
  height:10px;
}

 .square {
   position: absolute;
   background-color: #ED4512;
   width:10px;
   height:10px;
 }

 .rec15 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:15px;
 }

 .rec20 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:20px;
 }

 .rec25 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:20px;
 }


 .rec30 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:30px;
 }

 .rec35 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:35px;
 }

 .rec40 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:40px;
 }


 .rec45 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:45px;
 }


 .rec50 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:50px;
 }

 .rec60 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:60px;
 }



 .rec65 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:65px;
 }

 .rec70 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:80px;
 }

 .rec80 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:80px;
 }

 .bar20 {
   position: absolute;
   background-color:#F9B300;
   width:20px;
   height:10px;
 }

 .bar30 {
   position: absolute;
   background-color:#F9B300;
   width:30px;
   height:10px;
 }

 .bar35 {
   position: absolute;
   background-color:#F9B300;
   width:35px;
   height:10px;
 }

 .bar40 {
   position: absolute;
   background-color:#F9B300;
   width:40px;
   height:10px;
 }

 #dash {
   position:relative;
   width:20px;
   height:10px;
   margin-top: 30px;
   margin-left:5px;
 }

#A {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#B {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#C {
  position:relative;
  width:35px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#D {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#E {
  position:relative;
  width:35px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#F {
  position:relative;
  width:35px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#G {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#H {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#I {
  position:relative;
  width:20px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#J {
  position:relative;
  width:35px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#K {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#L {
  position:relative;
  width:35px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#M {
  position:relative;
  width:50px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#N {
  position:relative;
  width:50px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#O {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#P {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#Q {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#R {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#S {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#T {
  position:relative;
  width:50px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#U {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#V {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#W {
  position:relative;
  width:50px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#X {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#Y {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#Z {
  position:relative;
  width:30px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#Num0 {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#Num1 {
  position:relative;
  width:15px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#Num2 {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#Num3 {
  position:relative;
  width:35px;
  height:80px;
  margin-left:5px;
  margin-bottom:2px;
}

#Num4 {
  position:relative;
  width:40px;
  height:80px;
  margin-left:15px;
  margin-bottom:2px;
}

#Num5 {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#Num6 {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#Num7 {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#Num8 {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#Num9 {
  position:relative;
  width:40px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#comma {
  position:relative;
  width:10px;
  height:20px;
  margin-left:5px;
  margin-bottom:-10px;
  margin-bottom: 30px;
}

#period {
  position:relative;
  width:10px;
  height:10px;
  margin-left:10px;
  margin-bottom: 40px;
}


#quote1 {
  position:relative;
  width:30px;
  height:20px;
  margin-left:10px;
  margin-bottom: 30px;
}

#quote2 {
  position:relative;
  width:30px;
  height:20px;
  margin-left:10px;
  margin-bottom: 30px;
}

#question {
  position:relative;
  width:35px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}

#exclamation {
  position:relative;
  width:20px;
  height:80px;
  margin-left:10px;
  margin-bottom:2px;
}
