.flex-container {
  width:100%;
  display:flex;
  flex-flow:row;
  justify-content:center;
  align-items:flex-end;/*supoosed to be flex-end, but notice I put wrap-reverse*/
  align-content:center;
  min-height: 100vh; /*responsive bottom*/
  cursor: url('../images/hammer.gif'), default;

}

cusor:active{
  transform: translate(3px,3px);
}

.word {
  position:relative;
  width:40px;
  height:320px;
}

.word:not(:focus):hover {
  animation: rotate 0.7s infinite;
  transform-origin: bottom;
  animation-direction: alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

.word:focus {
  outline:none;
}

.word:focus > #A {
  animation: translate 0.5s;
  animation-fill-mode: forwards;
}

@keyframes translate {
  0% {
    top:0px;
    left:0px;
    transform: rotate(20deg);
  }

  25% {
    top:100px;
    left:50px;
    transform: rotate(45deg);
  }

  25% {
    top:200px;
    left:80px;
    transform: rotate(75deg);
  }

  100% {
    top:235px;
    left:100px;
    transform: rotate(90deg);
  }
}


 .square {
   position: absolute;
   background-color: #ED4512;
   width:10px;
   height:10px;
 }

 .rec15 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:15px;
 }

 .rec20 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:20px;
 }

 .rec35 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:35px;
 }

 .rec45 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:45px;
 }

 .rec50 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:50px;
 }

 .rec65 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:65px;
 }

 .rec70 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:80px;
 }

 .rec80 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:80px;
 }

 .bar20 {
   position: absolute;
   background-color:#F9B300;
   width:20px;
   height:10px;
 }

 .bar35 {
   position: absolute;
   background-color:#F9B300;
   width:35px;
   height:10px;
 }

 .bar40 {
   position: absolute;
   background-color:#F9B300;
   width:40px;
   height:10px;
 }

#A {
  position:absolute;
  margin-top:0px
  width:40px;
  height:75px;
  margin-left:0px;
  float:left;
  outline:none;
}


#B {
  position:absolute;
  margin-top:75px;
  width:40px;
  height:80px;
  float:left;
}

#C {
  position:absolute;
  margin-top:155px;
  width:35px;
  height:80px;
  float:left;
}

#D {
  position:absolute;
  margin-top:235px;
  width:40px;
  height:80px;
  float:left;
}
