body {
  animation: colorchange 0.8s infinite;
  overflow: hidden;
}

@keyframes colorchange {
  0% {background-color: white;}
  50% {background-color: #ED4512;}
  100% {background-color: white;}
}

.flex-container {
  position:absolute;
  width:100%;
  display:flex;
  flex-flow:row wrap-reverse;
  justify-content:center;
  align-items:center;/*supoosed to be flex-end, but notice I put wrap-reverse*/
  align-content:flex-start;
  min-height: 98vh; /*responsive bottom*/
  cursor: url('../images/hammer.gif'), default;

}

.flex-container2 {
  position:absolute;
  width:50px;
  left:95%;
  display:flex;
  flex-flow:row;
  justify-content:flex-end;;
  align-items:center;/*supoosed to be flex-end, but notice I put wrap-reverse*/
  align-content:center;
  min-height: 106vh; /*responsive bottom*/
}

a {
  cursor: url('../images/hand.png'), pointer;
}


 .square {
   position: absolute;
   background-color: #ED4512;
   width:10px;
   height:10px;
 }

 .rec15 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:15px;
 }

 .rec20 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:20px;
 }

 .rec35 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:35px;
 }

 .rec45 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:45px;
 }

 .rec50 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:50px;
 }

 .rec65 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:65px;
 }

 .rec70 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:80px;
 }

 .rec80 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:80px;
 }

 .bar20 {
   position: absolute;
   background-color:#F9B300;
   width:20px;
   height:10px;
 }

 .bar30 {
   position: absolute;
   background-color:#F9B300;
   width:30px;
   height:10px;
 }

 .bar35 {
   position: absolute;
   background-color:#F9B300;
   width:35px;
   height:10px;
 }

 .bar40 {
   position: absolute;
   background-color:#F9B300;
   width:40px;
   height:10px;
 }

 #T {
   position:relative;
   float:left;
   width:50px;
   height:80px;
   transform: scale(2.0);
   transform-origin: top;
 }


 #H {
   position:relative;
   float:left;
   width:40px;
   height:80px;
   margin-left:55px;
   transform: scale(2.0);
   transform-origin: top;
 }


#I {
  position:relative;
  float:left;
  width:20px;
  height:80px;
  margin-left:45px;
  transform: scale(2.0);
  transform-origin: top;
}


#N {
  position:relative;
  float:left;
  width:50px;
  height:80px;
  margin-left:50px;
  transform: scale(2.0);
  transform-origin: top;
}

#K {
  position:relative;
  float:left;
  width:40px;
  height:80px;
  margin-left:60px;
  transform: scale(2.0);
  transform-origin: top;
}



.word {
  position:relative;
  width:420px;
  height:160px;
  cursor: url('../images/hammer.gif'), default;
}

.word:not(:focus):hover {
  animation: superzoom 2s infinite;
  transform-origin: bottom;
}

.word:focus {outline:none;}

@keyframes superzoom {
  0% {
    transform: scale(100.0);
    transform-origin: center;
  }

  100% {
    transform: scale(0.0);
    transform-origin: center;
  }
}


.word:focus > #I {
  animation: Iblow 0.2s;
  animation-fill-mode: forwards;
}

@keyframes Iblow {
  0% {
    margin-top:0px;
    transform: rotate(40deg);
    transform: scale(2.5);
    transform-origin: top;
  }
  100% {
    margin-top:-1100px;
    margin-left: -800px;
    transform: rotate(180deg);
    transform: scale(8);
    transform-origin: top;
  }
}


.word:focus > #N {
  animation: Nblow 0.3s;
  animation-fill-mode: forwards;
}

@keyframes Nblow {
  0% {
    transform: rotate(40deg);
    transform: scale(2.5);
    transform-origin: top;
  }
  100% {
    margin-top:0px;
    margin-left:-1000px;
    transform: rotate(90deg);
    transform: scale(0);
    transform-origin: top;
  }
}

.word:focus > #H {
  animation: Hblow 0.3s;
  animation-fill-mode: forwards;
}

@keyframes Hblow {
  0% {
    transform: rotate(40deg);
    transform: scale(2.5);
    transform-origin: top;
  }

  100% {
    margin-top:1000px;
    margin-left:-100px;
    transform: rotate(90deg);
    transform: scale(10);
    transform-origin: top;
  }
}


.word:focus > #E {
  animation: Eblow 0.2s;
  animation-fill-mode: forwards;
}

@keyframes Eblow {
  0% {
    margin-top:0px;
    margin-left:2000px;
    transform: rotate(40deg);
    transform: scale(2.5);
    transform-origin: top;
  }
  100% {
    margin-top:0px;
    margin-left:4000px;
    transform: rotate(180deg);
    transform: scale(2.5);
    transform-origin: top;
  }
}

.word:focus > #T {
  animation: Tblow 0.2s;
  animation-fill-mode: forwards;
}

@keyframes Tblow {
  0% {
    transform: rotate(40deg);
    transform: scale(2.5);
    transform-origin: top;
  }
  100% {
    margin-top:-1200px;
    margin-left:1000px;
    transform: rotate(90deg);
    transform: scale(2.5);
    transform-origin: top;
  }
}

.word:focus > #K {
  animation: Kblow 0.2s;
  animation-fill-mode: forwards;
}

@keyframes Kblow {
  0% {
    transform: rotate(40deg);
    transform: scale(2.5);
    transform-origin: top;
  }
  100% {
    margin-top:100px;
    margin-left:1600px;
    transform: rotate(90deg);
    transform: scale(2.5);
    transform-origin: top;
  }
}
