body {
  animation: colorchange 5s infinite;
  overflow: hidden;
}

@keyframes colorchange {
  0% {background-color: white;}
  30% {background-color: white;}
  32% {background-color: #ED4512;}
  34% {background-color: #F9B300;}
  36% {background-color: #2C365B;}
  38% {background-color: white;}
  80% {background-color: white;}
  82% {background-color: #ED4512;}
  84% {background-color: #F9B300;}
  86% {background-color: #2C365B;}
  88% {background-color: white;}
  92% {background-color: white;}
  94% {background-color: #ED4512;}
  96% {background-color: #F9B300;}
  98% {background-color: #2C365B;}
  100% {background-color: white;}
}



.flex-container {
  position:absolute;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:flex-end;
  align-content:flex-start;
  min-height: 99vh; /*responsive bottom*/
  cursor: url('../images/hammer.gif'), default;

}

a {
  cursor: url('../images/hand.png'), pointer;
}


 .square {
   position: absolute;
   background-color: #ED4512;
   width:10px;
   height:10px;
 }

 .rec15 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:15px;
 }

 .rec20 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:20px;
 }

 .rec35 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:35px;
 }


 .rec45 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:45px;
 }


 .rec50 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:50px;
 }

 .rec65 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:65px;
 }

 .rec70 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:80px;
 }

 .rec80 {
   position: absolute;
   background-color:#2C365B;
   width:10px;
   height:80px;
 }

 .bar20 {
   position: absolute;
   background-color:#F9B300;
   width:20px;
   height:10px;
 }

 .bar30 {
   position: absolute;
   background-color:#F9B300;
   width:30px;
   height:10px;
 }

 .bar35 {
   position: absolute;
   background-color:#F9B300;
   width:35px;
   height:10px;
 }

 .bar40 {
   position: absolute;
   background-color:#F9B300;
   width:40px;
   height:10px;
 }


#D {
  position:relative;
  float:left;
  width:40px;
  height:80px;
  margin-left:0px;
  transform: scale(2.0);
  transform-origin: bottom;
}

#E {
  position:relative;
  float:left;
  width:35px;
  height:80px;
  margin-left:50px;
  transform: scale(2.0);
  transform-origin: bottom;
}

#R {
  position:relative;
  float:left;
  width:40px;
  height:80px;
  margin-left:60px;
  transform: scale(2.0);
  transform-origin: bottom;
}

#S {
  position:relative;
  float:left;
  width:40px;
  height:80px;
  margin-left:50px;
  transform: scale(2.0);
  transform-origin: bottom;
}

#T {
  position:relative;
  float:left;
  width:50px;
  height:80px;
  margin-left:50px;
  transform: scale(2.0);
  transform-origin: bottom;
}
