body {
  background-color: #F4F4F5;
  overflow: hidden;
}

@font-face {
  font-family: Gotham;
  src: url("../fonts/Gotham-Black.otf") format("opentype");
  }

@font-face {
  font-family: Pressura;
  src: url("../fonts/GT-Pressura-Light.otf") format("opentype");
  }

@font-face {
  font-family: HelveticaNeue;
  src: url("../fonts/HelveticaNeueLTPro-Th.otf") format("opentype");
  }

#layer_bottom {
  position:absolute;
  display:flex;
  width:100%;
  height:100vh;
  flex-wrap: nowrap;
  flex-direction: row;
}


.white_space {
  height:100vh;
  width:45%;
  flex-grow:1;
  flex-shrink:3:
}

.main_content {
  height:100vh;
  width:33%;
  flex-grow:3;
}

.side_content {
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  height:90vh;
  width:21%;
  padding-top: 15px;
  flex-grow:1;
}

.video1, .video2, .video3, .video4, .video5, .video6, .video7, .video8, .video9, .video10 {
  position:absolute;
  width:100%;
  height:100vh;
  display:none;
}

.layer_video{
  position:absolute;
  margin-left:4%;
  margin-top:-8px;
  width:100%;
  height:100vh;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  opacity:0;
}

.song_info {
  position:relative;
  width:24%;
  height:100vh;
}

.video_window {
  position:relative;
  margin-right:4%;
  width:72%;
  height:100vh;
}

.logo {
  position:absolute;
  margin-left:78.8%;
  margin-top:82.4vh;
  opacity:1;
}


#layer_rs {
  position:absolute;
  width:100%;
  height:100vh;
}

.rs {
  width:80px;
  opacity:0;
  cursor:pointer;
}


p {
  font-family:"HelveticaNeue";
  font-size: 13.3px;
  margin-left: 60px;
  margin-right: 60px;
  widows: 4;
  orphans: 4;
  hyphens:auto;
  letter-spacing: .06em;
  word-spacing: -0.1em;
  line-height: 1.7em;

}

.layer_covers {
  position:absolute;
  display:flex;
  margin-left: -8px;
  margin-top: -8px;
  width:5%;
  height:100vh;
  flex-wrap: nowrap;
  flex-direction: row;
  background:gray;
  cursor: url('../images/play.png'), default;
}


#covers {
  flex-grow:1;
  position:relative;
}

.song1 {
  background-image: url('../images/covers/01 crazy.jpg');
  background-size: cover;
}

.song2 {
  background-image: url('../images/covers/02 99 problems.jpg');
  background-size: cover;
}

.song3 {
  background-image: url('../images/covers/03 crazy in love.jpg');
  background-size: cover;
}

.song4 {
  background-image: url('../images/covers/04 hey ya.jpg');
  background-size: cover;
}

.song5 {
  background-image: url('../images/covers/05 mia paper planes.jpg');
  background-size: cover;
}

.song6 {
  background-image: url('../images/covers/06 seven nation army.jpg');
  background-size: cover;
}

.song7 {
  background-image: url('../images/covers/07 maps.jpg');
  background-size: cover;
}

.song8 {
  background-image: url('../images/covers/08 rehab.jpg');
  background-size: cover;
}

.song9 {
  background-image: url('../images/covers/09 beautiful day.jpg');
  background-size: cover;
}

.song10 {
  background-image: url('../images/covers/10 stan.jpg');
  background-size: cover;
}

.video_frame {
  position: relative;
  width: 100%;
  height: 100%;
}


.layer_covers,#covers,.rs,.layer_video1, .logo {
  -webkit-transition: all 0.5s ease-in-out;
}

.layer_covers_expand { width:100%;}

.covers_expand {width:92vh;}

.reveal {display:inline;}

.slideout {width:0;}

.showup {opacity:1}

.fadeout {opacity:0}
